extends layout

block content
  include ../html/grouplist.html
  ul
    each group, i in grouplist
      li#group_list_item
        h1.
          GroupID: #{group.gid}, Group Type: #{group.type}, Group Title: #{group.title}, Group Location: #{group.location}
